.adminMain {
  padding-bottom: 2em;
}

.loginButtonDiv {
  display: inline-flex;
}
.forgotPassword {
  color: #1982f6;
  cursor: pointer;
  position: absolute;
  right: 2em;
  letter-spacing: 1px;
}
.forgotPassword:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
  font-size: 0.9em;
  text-transform: capitalize;
}

.totalDiv {
  margin: 1em;
  margin-top: 2em;
}

@media screen and (min-width: 992px) {
  .forgotPassword {
    font-size: 0.9em;
    right: 26em;
  }

  .totalDiv {
    margin: 5em;
    margin-top: 3em;
  }
}
