.timePageMain {
  padding: 2em 5%;
}
.todayDate {
  float: right;
  border-bottom: 1px solid black;
  font-weight: 400;
}

.helloUser {
  text-align: center;
  margin-top: 4em;
}

.fillInfoDiv {
  text-align: center;
  padding-top: 2em;
}

.enterBtn {
  background-color: #2ba142;
  border: none;
  padding: 0.5em 1.7em;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  font-size: 1.1em;
  color: #fff;
  outline: 0;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.break {
  margin-top: 3em;
  font-size: 1.2em;
}

.TimingDetail {
  margin-top: 2em;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  color: #de4848;
  display: inline-block;
  font-weight: 100;
  padding-top: 0.6em;
  text-align: center;
  font-size: 1em;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  /* background: #00bf96; */
  background: #f7f7f7;
  background: #fff;
  display: inline-block;
  margin-left: 5px;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  /* background: #00816a; */
  background: #f7f7f7;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.remainTime {
  margin-top: 1em;
}

@media only screen and (min-width: 1100px) {
  .enterBtn:hover {
    color: #2ba142;
    border: 1px solid #2ba142;
    background-color: #fff;
  }
  .formContainer {
    margin-top: 3em;
  }
}

/* Portrait */
@media only screen and (max-device-width: 480px) {
  .TimingDetail {
    margin-top: 0.5em;
  }
}
