.empFormContainer {
  width: 30%;
}

/* Portrait */
@media only screen and (max-device-width: 480px) {
  .empFormContainer {
    width: 75%;
  }
}

@media only screen and (min-width: 1100px) {
  .homeLink {
    font-size: 1.4em;
  }
}
