.innerTitleMain {
  padding: 14% 2% 4% 2%;
}

.innerTitleDiv {
  text-align: center;
}

.innerTitle {
  text-transform: uppercase;
  color: #444;
  font-size: 1.1em;
  letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
  .innerTitle {
    font-size: 1.3em;
    padding: 0 2%;
  }
}

@media screen and (min-width: 1200px) {
  .innerTitleMain {
    padding-top: 1%;
    padding-bottom: 0;
  }
}
