.resultDiv {
  padding: 2% 5% !important;
}
@media screen and (min-width: 992px) {
  .formStyles {
    width: 700px;
    margin: auto;
    font-size: 1.2em;
  }
  .resultDiv {
    padding: 2% 10% !important;
  }
}
